<%= render :partial => "show" %>

<% if @which_card == "post"%>
<div id="temp_back_div">

	<div id="card_back_div" class="card_back_div" style="<%=@card_back_div_style%>">

		<div id="card_pic_sel_div" class="card_pic_sel_div" style="<%=@card_pic_sel_div_style%>">
			<div id= "card_pic_div" class = "card_pic_div" style="<%=@card_pic_div_style%>">
				<input id="picture_photo" type ="file" name="filedata" style="display:none; margin-top:40px;">
			</div>
		</div>
		

    </div>
	<div id="card_input_div" class="card_input_div" >		
			<textarea id="card_input_text" class="card_input_text" ></textarea>
			<a id="submit_card" href="javascript:void(0)" class="submit_card">搞定了！</a>
	</div>
</div>
<% else%>
<div id="temp_back_div">

	<div id="card_back_div" class="card_back_div" style="<%=@card_back_div_style%>">

	
    </div>
	
	<div id="card_input_div" class="card_input_div" >		
			<textarea id="card_input_text" class="card_input_text" ></textarea>
			<a id="submit_card" href="javascript:void(0)" class="submit_card">搞定了！
	</a>
	</div>
	
</div>
 
<%end%>



