<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
		$(".pic_back_slot_thumb").hover(function(){
			var back_name = $(this).attr("id");
			var back_url  = "url(../images/background/big/" + back_name + ".png)"
			$("#big_picture").css({'background': back_url});
		});
		
		$(".pic_back_slot_thumb").click(function(){
			var back_name = $(this).attr("id");
			Vboli.background_url  = "url(../images/background/big/" + back_name + ".png)"
			$("#big_picture").css({'background': Vboli.background_url});
			$("#step2").trigger('click');
		});
		
}); 
</script>
<div id="card_content">
	<div class="wrapper">

		 <div id="pic_show">
			
			<div id="big_picture_wrapper">
				<div id="big_picture">
					<div id="pic_sel_caption">
						<p id ="sel_caption"> 选择你的炫彩信纸</p>
						  <p id="try">鼠标指点可预览，单击即可应用。</p>
					</div>
					<div id="pic_sel_thumb">
						<div id ="pic_slot1" class="pic_back_slot">
							<div id="back1" class="pic_back_slot_thumb">
								<%= image_tag "background/thumb/back1.png"%>
							</div>
							<div id="back2" class="pic_back_slot_thumb">
								<%= image_tag "background/thumb/back2.png"%>
							</div>
							<div id="back3" class="pic_back_slot_thumb">
									<%= image_tag "background/thumb/back3.png"%>
							</div>
						</div>
						<div id ="pic_slot2" class="pic_back_slot">
								<div id="back4" class="pic_back_slot_thumb">
										<%= image_tag "background/thumb/back4.png"%>
								</div>
								<div id="back5" class="pic_back_slot_thumb">
										<%= image_tag "background/thumb/back5.png"%>
								</div>
								<div id="back6" class="pic_back_slot_thumb">
										<%= image_tag "background/thumb/back6.png"%>
								</div>
						</div>
							
						<div id ="pic_slot3" class="pic_back_slot">
								<div id="back7" class="pic_back_slot_thumb">
										<%= image_tag "background/thumb/back7.png"%>
								</div>
								<div id="back8" class="pic_back_slot_thumb">
										<%= image_tag "background/thumb/back8.png"%>
								</div>
								<div id="back9" class="pic_back_slot_thumb">
										<%= image_tag "background/thumb/back9.png"%>
								</div>
						</div>					
					</div>
				</div>
			</div>
			<div id="pic_show_arrow_right">
			
			</div>
		
		</div>
	</div>
</div>