<div id="content_part">
<%= render :partial => "show" %>
<div id="card_navi_btn">
	<div id="card_navi_post"  style="background-position: 0px 0px;"></div>
	<a href="/show_bcard" ><div id="card_navi_default" style="background-position: 0px 0px;" ></div></a>
	<div id="template_which" which="post" ></div>
</div>
<div id="temp_div">
	
	<div id="card_div">
		<% if @upload_pic%>
		<div id="card_pic_div" style="<%=@card_back_div_style%>"></div>
		<%else%>
			<div id="card_pic_div"">
			  	 <div id="upload_card_pic">
			  	 	
					<input id="picture_photo" type ="file" name="filedata" class="display:none; margin-top:40px;">
				</div>
			</div>
		<%end%>
		<div id="font_color_btn_div">
			<div id="font_btn_div"></div>
			<div id="color_btn_div"></div>
		</div>
		<div id="font_demo_div"></div>
		<div id="font_sel_value" font_sel_value="fz_yingbikaishu.ttf" sel_font="1"></div>
		<div id="color_sel_value" color_sel_value="0" sel_color="1"></div>
	</div>
	
	<div id="font_color_div">
		<div id="color_sel_div">
			<div id="color_sel_div1" class="color_sel_subdiv">
			<ul class = "color_sel" id="color_set1">
				<li><div id="color1" class="color_div" color="ec2929"  color_value="1" style="background-color:#ec2929;"></div></li>
				<li><div id="color2" class="color_div" color="ff6d15" color_value="2"  style="background-color:#ff6d15;"></div></li>
				<li><div id="color3" class="color_div" color="edcf2a"  color_value="3" style="background-color:#edcf2a;"></div></li>
				<li><div id="color4" class="color_div" color="4b1806" color_value="4"  style="background-color:#4b1806;"></div></li>
				<li><div id="color5" class="color_div" color="cf23a1" color_value="5" style="background-color:#cf23a1;"></div></li>
				<li><div id="color6" class="color_div" color="e9b9e6" color_value="6"  style="background-color:#e9b9e6;"></div></li>
			</ul>
			</div>
			<div id="color_sel_div2" class="color_sel_subdiv">
			<ul class = "color_sel" id="color_set1">
				<li><div id="color7" class="color_div" color="2d52da" color_value="7"  style="background-color:#2d52da;"></div></li>
				<li><div id="color8" class="color_div" color="69eaf9" color_value="8"  style="background-color:#69eaf9;"></div></li>
				<li><div id="color9" class="color_div" color="36de1a" color_value="9"  style="background-color:#36de1a;"></div></li>
				<li><div id="color10" class="color_div" color="0" color_value="10"  style="background-color:#000000;"></div></li>
				<li><div id="color11" class="color_div" color="6c6c6c" color_value="11"  style="background-color:#6c6c6c;"></div></li>
				<li><div id="color12" class="color_div" color="c1c1c1" color_value="12"  style="background-color:#c1c1c1;"></div></li>
			</ul>
			</div>
		</div>
	  <div id="font_sel_div">
			<div id="font1" class="font_demo_small_div" font="fz_yingbikaishu.ttf" font_value="1"  style = "background-position: 0px 0px; margin-top:5px;"></div>
			<div id="font2" class="font_demo_small_div" font="fz_xinghei.ttf" font_value="2"  style = "background-position: 0px -28px; "></div>
			<div id="font3" class="font_demo_small_div" font="fz_soujin.ttf" font_value="3" style = "background-position: 0px -53px; "></div>
			<div id="font4" class="font_demo_small_div" font="fz_shaoer.ttf" font_value="4" style = "background-position: 0px -80px; "></div>
			<div id="font5" class="font_demo_small_div" font="fz_yingbikaishu.ttf" font_value="5" style = "background-position: 0px -105px; "></div>
			<div id="font6" class="font_demo_small_div" font="fz_yayi.ttf" font_value="6" style = "background-position: 0px -135px; "></div>
		</div>
	</div>
</div>
<div id="input_div">
	<div id="input_back_div">
		<% if @upload_pic%>
		<div id="card_photo_id" card_photo_id="<%=@upload_pic.id%>"></div>
		<%elsif @bcard%>
		<div id="card_photo_id" card_photo_id="<%=@bcard.id%>"></div>
		<%else%>
		<div id="card_photo_id" card_photo_id="0"></div>
		<%end%>
		<div id="card_photo_url" card_photo_url="<%=@card_photo_url%>"></div>
		<div id="input_box_div"><input id="card_input_box" type="text" name="input_card"></div>
		<a href="javascript:void(0)" ><div id="submit_card_div"></div></a>
	</div>
</div>

</div>


