<%= javascript_include_tag 'jquery.Jcrop.min' %>
<script language="Javascript">
$(document).ready(function(){
function showPreview(coords)
{
	var rx = <%= Picture::PHOTO_BW %> / coords.w;
	var ry = <%= Picture::PHOTO_BH %> / coords.h;
	var ratio = <%= @picture.photo_geometry(:original).width %> / <%= @picture.photo_geometry(:back1024).width %>; 

	$('#preview').css({
		width: Math.round(rx * <%= @picture.photo_geometry(:back1024).width.to_i %>) + 'px',
		height: Math.round(ry * <%= @picture.photo_geometry(:back1024).height.to_i %>) + 'px',
		marginLeft: '-' + Math.round(rx * coords.x) + 'px',
		marginTop: '-' + Math.round(ry * coords.y) + 'px'
	});
  $('#crop_x').val(Math.round(coords.x * ratio));
  $('#crop_y').val(Math.round(coords.y * ratio));
  $('#crop_w').val(Math.round(coords.w * ratio));
  $('#crop_h').val(Math.round(coords.h * ratio));
}

$(function() {
  $('#cropbox').Jcrop({
      onSelect: showPreview,
      onChange: showPreview,
      setSelect:   [ 0, 0, 500, 500 ],
      aspectRatio: 1
    });
});	
});
</script>
<div id="pic_overlay">
<%pic_div_style = "width:" + @picture.photo_geometry(:back1024).width.to_s + "px;"+"height:" + @picture.photo_geometry(:back1024).height.to_s + "px;" %>
	<div id="pic_1024" style="<%=pic_div_style%>">
	<h1>剪切图像</h1> 
	  <%= image_tag @picture.photo.url(:back1024), :id => 'cropbox' ,:class => 'pic_for_crop_img'%>
		<div id="pic_crop_form">
		<% form_for @picture  do |form| %>  
		  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>  
		    <%= form.hidden_field attribute, :id => attribute %>  
		  <% end %>  
		  <p><%= form.submit "剪切",:class=>'submit_btn' %></p>  
		<% end %>
		</div> 
	</div>
</div>