<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
<head>
  <title>WeiboGift</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag  "jquery.lightbox-0.5" %>
  <%= javascript_include_tag "jquery.nivo.slider.pack" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="whole_wrapper">
<%= render "shared/header" %>

<%= yield %>
</div>
</body>
</html>
